<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Super_Admin/superadmin_manage_profile_style.css">
    <link rel="icon" href="/logo/transprant_logo.png" type="image/x-icon">

</head>

<body>
    <div class="main">
        <div class="top-bar">
            <h1>
                <%=msg%>
            </h1>
            <button class="profile-btn" onclick="GoBack()">Back</button>
        </div>
        

        <div class="form-container">
            <form id="profileForm">
                <div class="form-group">
                    <label for="firstName">First Name:</label>
                    <input type="text" id="firstName" name="firstName" required readonly>
                </div>
                <div class="form-group">
                    <label for="lastName">Last Name:</label>
                    <input type="text" id="lastName" name="lastName" required readonly>
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required readonly>
                </div>
                <div class="form-group">
                    <label for="role">Role:</label>
                    <input type="text" id="role" name="role" required readonly>
                </div>
                <div class="form-group">
                    <label for="address">Address:</label>
                    <input type="text" id="address" name="address" required readonly>
                </div>
                <div class="form-group">
                    <label for="dob">Date of Birth:</label>
                    <input type="date" id="dob" name="dob" required readonly>
                </div>
                <div class="form-group">
                    <label for="mobile_number">Mobile Number:</label>
                    <input type="text" id="mobile_number" name="mobile_number" required readonly>
                </div>
                <div class="form-group">
                    <label for="gender">Gender:</label>
                     <select id="gender" name="gender" required disabled>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Other">Other</option>
                     </select>
                </div>
                <div class="form-group">
                    <input type="text" id="super-id" name="super-id" value="<%=id %>" hidden>
                </div>
            </form>
            <div class="button-group">
                <button id="edit-btn" onclick="editProfile()">Edit
                    Profile</button>
                <button id="update-btn" onclick="updateProfile()" style="display: none;">Update Profile</button>
            </div>
        </div>
    </div>
    </div>
    </div>

</body>

<!-- Script -->
<script src="/javascript/Super_Admin/superadmin_manage_profile_script.js"></script>
<script src="/javascript/Super_Admin/superadmin_dashboard_script.js"></script>

</html>