<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%=msg%>
    </title>
    <!-- icon -->
    <link rel="icon" href="/logo/website_logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/Super_Admin/superadmin_style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
</head>

<body>
    <div class="wrapper">
        <div class="title"><span>Forgot Password</span></div>

        <!-- Loader HTML -->
        <div id="loader" class="loader" style="display: none;"></div>

        <form id="forgotPasswordForm">
            <div class="row">
                <i class="fas fa-envelope"></i>
                <input type="email" name="email" id="email" placeholder="Enter your email" required />
            </div>
            <div class="row button">
                <input type="submit" value="Send Reset Link" />
            </div>
            <div style="margin-top: 15px;" class="signup-link">Remembered your password? <a href="/super-admin">Login now</a></div>
        </form>
    </div>

    <script src="/javascript/Super_Admin/superadmin_forgot_password_script.js"></script>
</body>

</html>