<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/logo/transprant_logo.png" type="image/x-icon">
    <!-- link css -->
    <link rel="stylesheet" href="/css/Super_Admin/superadmin_dashboard_style.css" />
</head>

<body>
    <div class="container">
        <div id="genericLoader" class="generic-loader" style="display: none;"></div>
        <div id="backdrop" class="backdrop" style="display: none;"></div>

        <div class="main">
            <div class="top-bar">
                <h1>
                    <%=msg%>
                </h1>
                <button class="profile-btn" onclick="Profile()">View Profile</button>
            </div>
            
        </div>

        <div class="card-container">
        </div>
    </div>

</body>
<script src="/javascript/Super_Admin/superadmin_dashboard_script.js"></script>
<script src="/javascript/Super_Admin/superadmin_dashboard_logic_script.js"></script>

</html>