<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Super_Admin/superadmin_style.css">
</head>

<body>
    <div class="wrapper">
        <div class="title"><span>Reset Password</span></div>
        <form id="resetPasswordForm">
            <input type="hidden" id="token" value="" />
            <div class="row">
                <input type="password" id="newPassword" placeholder="New Password" required />
            </div>
            <div class="row">
                <input type="password" id="confirmPassword" placeholder="Confirm Password" required />
            </div>
            <div class="row button">
                <input type="submit" value="Reset Password" />
            </div>
        </form>
    </div>

    <script src="/javascript/Super_Admin/superadmin_reset_password_script.js"></script>
</body>

</html>