<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Super_Admin/superadmin_add_admin_style.css">
    <link rel="icon" href="/logo/transprant_logo.png" type="image/x-icon">

</head>

<body>
    <div class="main">
        <div class="top-bar">
            <h1>
                <%=msg%>
            </h1>
            <button class="profile-btn" onclick="GoBack()">Back</button>
        </div>
      

        <!--  Add the Loader -->
        <div class="loader" id="loader" style="display: none;"></div>

        <div class="data-container">
            <table class="form-table">
                <tr>
                    <td>
                        <form id="add_form_id" class="add-form">
                            <div class="form-group">
                                <label for="f_name">First Name:</label>
                                <input type="text" id="f_name" name="f_name" placeholder="Enter First Name" required>
                            </div>
                            <div class="form-group">
                                <label for="l_name">Last Name:</label>
                                <input type="text" id="l_name" name="l_name" placeholder="Enter Last Name" required>
                            </div>
                            <div class="form-group">
                                <label for="email">Email:</label>
                                <input type="email" id="email" name="email" placeholder="Enter Email" required>
                            </div>
                            <div class="form-group">
                                <label for="mobile_number">Mobile Number:</label>
                                <input type="text" id="mobile_number" name="mobile_number"
                                    placeholder="Enter Mobile Number" required>
                            </div>
                            <div class="form-group">
                                <label for="aadhar_number">Aadhar Number:</label>
                                <input type="text" id="aadhar_number" name="aadhar_number"
                                    placeholder="Enter Aadhar Number" required>
                            </div>
                            <div class="form-group">
                                <label for="gender">Gender:</label>
                                <select id="gender" name="gender" required>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                    <option value="Other">Other</option>
                                </select>
                            </div>
                            <div style="width: 100%; display: flex; justify-content: end;">
                                <button type="submit" class="submit-btn">Submit</button>
                            </div>
                        </form>
                    </td>
                </tr>
            </table>
        </div>
    </div>

</body>

<!-- Script -->
<script src="/javascript/Super_Admin/superadmin_add_admin_script.js"></script>
<script src="/javascript/Super_Admin/superadmin_dashboard_script.js"></script>

</html>