<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Super_Admin/superadmin_manage_admin_style.css">
    <link rel="icon" href="/logo/transprant_logo.png" type="image/x-icon">

</head>

<body>
    <div class="main">
        <div class="top-bar">
            <h1>
                <%=msg%>
            </h1>
            <button class="profile-btn" onclick="GoBack()">Back</button>
        </div>
      

        <div class="data-container">
        </div>
    </div>

    <!-- View Admin Modal -->
    <div id="viewAdminModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('viewAdminModal')">&times;</span>
            <!-- <h2>Admin Details</h2> -->
            <div id="viewAdminDetails"></div>
        </div>
    </div>

    <!-- Delete Admin Modal -->
    <div id="deleteAdminModal" class="modal">
        <div class="modal-content">
            <span id="deleteAdminModal_span" class="close" onclick="closeModal('deleteAdminModal')">&times;</span>
            <h2>Confirm Deletion</h2>
            <p class="deactivate-msg">Are you sure you want to deactivate this admin?</p>
            <button id="confirmDeleteButton">Yes, De-Activate</button>
            <button id="cancleButton" onclick="closeModal('deleteAdminModal')">Cancel</button>
        </div>
    </div>


</body>

<!-- Script -->
<script src="/javascript/Super_Admin/superadmin_manage_admin_script.js"></script>
<script src="/javascript/Super_Admin/superadmin_dashboard_script.js"></script>

</html>