<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Exam</title>
    <link rel="stylesheet" href="/css/exam/manageExam.css">
</head>
<body>
    
     <div id="content">
        <div id="heading">
            <h2>Manage Exams</h2>
        </div>
        <div id="line"></div>
        <div>
           
            <div id="side">
            <div class="radio-input" >
                <label>
                <input type="radio" id="current" name="value-radio" value="value-1" checked>
                <span>Current Exams</span>
                </label>
                <label>
                <input type="radio" id="upcoming" name="value-radio" value="value-2">
                <span>Upcoming Exams</span>
                </label>
                <label>
                <input type="radio" id="completed" name="value-radio" value="value-3">
                <span>Completed Exams</span>
                </label>
                <span class="selection"></span>
            </div>
            </div>
            <div id="exam"></div>
        </div>

     </div>


     <script src="/javascript/studentExam/manageExam.js"></script>
</body>
</html>