<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Online Examination System</title>
    <link rel="stylesheet" href="/css/exam/initialExamCreate.css" />
  </head>
  <body>
    <div id="form-div">
        <form action="" id="exam-create">
            <label for="exam_name">Exam Name :</label>
            <input type="text"  id="exam-name" name="exam_name">
        
            <label for="exam_description">Exam Description :</label>
            <input type="text" id="exam_description" name="exam_description">

            <input type="submit" value="Save">
        </form>
    </div>

    <script src="/javascript/exam/initialExamCreate.js"></script>
  </body>
</html>
