<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/exam/previewExam.css" />
  </head>
  <body>
    <div id="content">
      <a href="">Back</a>
      <div id="heading"></div>
      <div id="line"></div>
      <div id="categroy"></div>
      <div>
        <div id="exam"></div>
      </div>
    </div>

    <script src="/javascript/exam/previewExam.js"></script>
  </body>
</html>
