<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Batch Listing</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link rel="stylesheet" href="/css/batch/batch.page.css" />
  </head>
  <body>
    <form action="/batch/students" method="post" style="display: none;" id="go_to_BatchWiseStudents">
      <input type="text" name="batchId" id="frm_batchId">
      <input type="submit" value="submit">
    </form>
    <div class="headInBatchPage">
      <h2>Manage Batches</h2>
    </div>
    <div class="btn-group">
      <button class="category-btn-add-BatchPage" type="button" id="addBatchBtn">
        Add Batch</button
      ><button type="button" id="deleteBtn">Delete Selected Batches</button>
    </div>

    <div id="addBatchDivId" class="addBatchDiv">
      <span>Add batch</span>
      <button type="button" id="closeBtnAddBatch">X</button>
      <input
        type="text"
        name="batchName"
        id="batchName"
        class="batchNameInp"
        placeholder="Enter namer of batch"
      />
      <button type="button" id="addBtn">Add</button>
    </div>

    <div id="mainDiv"></div>

    <script src="/javascript/batch/batch.listing.js"></script>
  </body>
</html>
