<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/profile/editstudentprofile.css">
</head>
<body>
         <div id="content">
            <div id="heading">
                <h2>Edit Profile Section</h2>
            </div>
            <div id="line"></div>
            <div id = 'form-div'>
                <form id='form'>
                    <p>Edit</p>
                    <label for='firstName'>First Name</label>
                    <input name='firstName' id='firstName'></input>

                    <label for='lastName'>Last Name</label>
                    <input name='lastName' id='lastName'></input>
                    <label for='email' >Email</label>
                    <input name='email' id='email' disabled></input>

                    <div>
                    <a href='/student/profile'>Cancel</a>
                    <input type='submit' value='Update'>
                    </div>
                </form>
            </div>
         </div>


    <script src="/javascript/profile/editstudentprofile.js"></script>
</body>
</html>