<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/dashboard/studentDashboard.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
</head>
<body>
    
     <div id="content">
        <!-- <div id="heading">
            <h2>Dashboard</h2>
            
        </div>
        <div id="line"></div> -->
        
        <div>
          
            <div id="exam">
               
                <table border="1">
                    <tr>
                        <th>Exam Name</th>
                        <th>Score</th>
                        <th>Date</th>
                        <th>Grade</th>
                        <th>Pass/Fail</th>
                    </tr>
                </table>
               
            </div>
           
        </div>
       

     </div>
     


     <script src="/javascript/studentDashboard/studentDashboard.js"></script>
</body>
</html>