* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #eff6ff;
}

/* Main Section */
.mainDashboardDiv {
  width: 100%;
  min-height: 100vh;
  padding: 20px 15px;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  color: #304673;
}

.top-bar button {
  padding: 10px 20px;
  background-color: #304673;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 10px;
}

.profile-btn {
  font-size: medium;
  color: #fff;
}

.profile-btn a {
  text-decoration: none;
  color: #fff;
}

.profile-btn:hover {
  background-color: #fff;
  border: 1px solid #304673;
  font-size: medium;
  font-weight: bold;
  a {
    color: #304673;
  }
}

.cards {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-around;
  align-items: center;
  margin: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  margin: 20px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 30px;
  box-shadow: 9px 8px 12px 3px rgb(3 54 86 / 10%);
  padding: 40px;
  text-align: center;
  width: 200px;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
  /* Scale up the card on hover */
}

.card-icon {
  width: 100px;
  height: 100px;
  margin: 20px 0;
}

.total-number {
  font-size: 36px;
  font-weight: bold;
  color: #31343c;
  display: block;
  margin-bottom: 10px;
}

.analytics-heading hr {
  margin-top: 15px;
}

.analytics-heading {
  font-size: 21px;
  margin-bottom: 20px;
}

.analytics-card {
  background-color: #fff;
  box-shadow: 9px 8px 12px 3px rgb(3 54 86 / 10%);
  border-radius: 8px;
  width: 98%;
  padding: 10px;
  margin: 10px;
}

.analytics-card #myChart-1,
.analytics-card #myChart-2 {
  max-height: 40vh;
}

.analytics-card #myChart-3 {
  max-height: 40vh;
}

.analytics-card #myChart-4 {
  max-height: 40vh;
}

.analytics h2 {
  margin: 0 0 10px;
}

.analytics hr {
  border: none;
  height: 2px;
  background-color: #ccc;
}

.performance-chart {
  max-width: 100%;
}
