* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.dialog-overlay {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(1px);
  background: rgba(86, 111, 117, 0.6);
  z-index: 98;
}

.studentRecordingMainDiv {
  width: 100%;
  min-height: 100vh;
  position: relative;
  padding: 20px 10px;
}

.videoTag {
  position: absolute;
  z-index: 99;
  width: 500px;
  height: 350px;
}
